.user-review {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-content {
  display: flex;
  flex-direction: column;
}

.add-review {
  margin: 0 1em;
  align-self: flex-end;
  width: 10em;
  border: 1px solid cadetblue;
  cursor: pointer;
}
