.review-modal {
  display: flex;
  flex-direction: column;
  height: 16em;
  margin: 0;
  margin-top: 1em;
  border: 0;
  padding: 0;
  width: 20em;
}

.review-modal * {
  margin-top: 0.5em;
  width: 100%;
}

input {
  outline: none;
}

textarea {
  resize: none;
  outline: none;
}

h3 {
  margin: 0;
}
