.review {
  border: 1px solid black;
  background-color: azure;
  border-radius: 0.4em;
  width: 30em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5em;
}

.review h3 {
  font-size: 1.2em;
  margin: 0;
  text-transform: capitalize;
  margin-bottom: 0.5em;
}

.review div {
  text-align: left;
}

.user {
  font-weight: 600;
  align-self: flex-end;
}
