.App {
  text-align: center;
}

:root {
  box-sizing: border-box;
  background-color: blanchedalmond;
}

* {
  box-sizing: inherit;
}

.header {
  height: 4em;
  width: 100%;
  background-color: mediumturquoise;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.header a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.header a + a {
  margin-left: 1em;
}

.header .active {
  font-size: 1.4rem;
  text-decoration: underline;
}

.header a:hover {
  color: lightcoral;
}

button {
  border: 0;
  border-radius: 4px;
  min-height: 2em;
  font-size: 1rem;
  font-weight: bold;
  color: darkcyan;
}

button:hover {
  color: orangered;
}
